html,
body,
#app {
  height: 100%;
}

.h-full {
  height: 100%;
}

.min-h-full {
  min-height: 100vh;
}

:root {
  --warning: #f90;

  --bg-success: #00894133;
  --bg-error: #e1060033;
  --bg-warning: #f903;
  --bg-info: #0762c833;
  --bg-main: #f7f7fb;
}


[data-rf-theme="dark"] {
  --warning: #f90;
  --bg-main: #111117;
}

.flex-w-full {
  flex-basis: 100%;
  flex-shrink: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}
